// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.console{
    background-color: black;
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 10px;
}
.accordion-body.console{
    max-height: 400px;
    overflow: scroll;
}